@font-face {
  font-display: swap;
  font-family: "Cantarell";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/cantarell-v17-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Cantarell";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/cantarell-v17-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/roboto-condensed-v25-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/roboto-condensed-v25-latin-700.woff2") format("woff2");
}

/* archivo-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/archivo-v19-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* archivo-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Archivo";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/archivo-v19-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* archivo-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Archivo";
  font-style: normal;
  font-weight: 900;
  src: url("fonts/archivo-v19-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
